body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* ************************************ */

.container {
  /* height: 150vh; */
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(18, 19, 21);
  background-image: url(Assets/bg-cafe.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.center-box-container {
  background-color: rgb(28, 29, 31);
  width: 70%;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 10rem 0;
}

.center-box-inner-container {
  height: 100%;
  width: 100%;
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
}

.content {
  width: 100%;
  /* border: 1px solid white; */
}

.our-collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(Assets/vector.svg);
  background-size: 200px;
  background-repeat: no-repeat;
  background-position-x: 62%;
  background-position-y: 15%;
  box-sizing: border-box;
  padding: 3rem 3rem 1rem 3rem;
}

.our-collection h1 {
  color: #FEF7EE;
  font-family: "DM Sans", sans-serif;
  font-size: 2rem;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin: 0;
}

.our-collection p {
  color: #6F757C;
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  width: 45%;
}

.buttons {
  display: flex;
  justify-content: center;
  /* background-color: yellow; */
}

.buttons button {
  height: 1.75rem;
  width: 7rem;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: white;
  border: none;
  margin: 0 0.5rem 0 0.5rem;
  border-radius: 0.375rem;
}

.available-now {
  background-color: transparent;
}

.available-now:hover {
  background-color: #6E757D;
  cursor: pointer;
}

.all-products {
  background-color: #6E757D;
}

.all-products:hover {
  cursor: pointer;
}

.coffee-list {
  /* height: 70%; */
  width: 100%;
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 3rem 5rem 2rem 5rem;
  justify-content: space-between;
}

.coffee-list-container {
  height: 50%;
  width: 80%;
  /* border: 1px solid white; */
  display: flex;
  justify-content: space-between;
}

.coffee-list-container1 {
  height: 50%;
  /* width: 80%; */
  flex-wrap: wrap;
  /* border: 1px solid white; */
  display: flex;
  justify-content: space-between;
}

.coffee-list-container-margin {
  height: 4rem;
}

.coffee {
  /* background-color: pink; */
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.coffee-image {
  position: relative;
}

.coffee-image img {
  border-radius: 1rem;
}

.coffee-popular {
  position: absolute;
  background-color: #F6C768;
  top: 0.5rem;
  left: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.15rem 0.45rem;
  font-family: "DM Sans", sans-serif;
  font-size: 10px;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.coffee-details {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  color: #FEF7EE;
  margin-top: 0.5rem;
}

.cof-name-price {
  display: flex;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  align-items: center;
  justify-content: space-between;
}

.coffee-price {
  padding: 0.15rem 0.25rem;
  background-color: rgb(189, 227, 204);
  border-radius: 0.3rem;
  color: rgb(28, 29, 31);
  font-size: 0.75rem;
}

.cof-rate-vote-available {
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin-top: 0.2rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.cof-rate-vote-available div {
  display: flex;
  align-items: center;
}

.coffee-vote {
  color: #6F757C;
}

.coffee-available {
  color: #ED735D;
}

@media (max-width: 1024px) {

  .container{
    background-size: 150%;
    background-position-x: 50%;
  }

  .our-collection {
    background-position-x: 70%;
  }

  .our-collection p {
    width: 70%;
  }
}

@media (max-width: 640px) {

  .container{
    background-size: 200%;
    background-position-x: 50%;
  }

  .our-collection {
    background-position-x: 85%;
  }

  .our-collection p {
    width: 100%;
  }
}